*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

button {
    border: none;
    background-color: transparent;
}

textarea {
    all: unset;
    word-wrap: break-word;
    
  }

.container {
    width: 100%;
    max-width: $max-width;
    margin: 66.66px auto 0 auto;    
}

.line {
    position: absolute;
    top: 162px;
    left: 0;
    width: 100%;
    height: .5px;
    background-color: $main-border-color;
    z-index: -1;
}

.hide  {
    display: none !important;
}