.header__buttons-box {

    .header__button {
        display: inline-flex;
        align-items: flex-start; 
        margin: 14px 2px 15px 2px;
        background-color: transparent;
        border: solid 1px $main-border-color;
        border-radius: 4px;
        color: $secondary-font-color;
        font-size: .9rem;
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        padding: 7px 13px;
        cursor: pointer;
        transition: .1s;

        &:hover {
            background-color: $hover-background-blue-color;
            color: $hover-text-blue-color;
        }


        .header__button-icon {
            font-size: 1.25rem;
            margin-right: 5px;
        }

       
    }
    
    .button--active {
        background-color: $hover-background-blue-color--active;
    }
}

