.header__buttons-box {
    width: 90%;
    max-width: 1260px;
    margin: 0 auto;
    @media (max-width: 1260px){
       width: 100%;
       margin-left: 8px;
    }
    .header__button {
        display: inline-flex;
        align-items: flex-start; 
        margin: 14px 2px 15px 2px;
        border: solid 1px $main-border-color;
        border-radius: 4px;
        color: $secondary-font-color;
        font-size: .9rem;
        padding: 7px 13px;
        cursor: pointer;
        transition: .1s;

       

        &:hover {
            background-color: $hover-background-blue-color;
            color: $hover-text-blue-color;
        }


        .header__button-icon {
            font-size: 1.25rem;
            margin-right: 5px;
        }

       
    }
    
    .button--active {
        background-color: $hover-background-blue-color--active;
    }
}

