.panel{
    @include sliding-panel;
    font-family: 'Roboto';
    font-weight: 300;
    .panel__title {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 64px;
        padding: 26px;
        font-size: 1.7rem;
        color: black;
        border-bottom: 1px solid $main-border-color;
        @media (max-width: 720px){
            margin-top: 0;
            font-size: 1.1rem;
            padding: 3px;
        }

        .panel__arrow {
            display: none;
            font-weight: bold;
            font-size:  1.4rem;
            padding: 9px;
            color: $main-font-color;
            cursor: pointer;
            &:hover {
                background-color: rgba(237, 237, 237, 0.505);
                border-radius: 50%;
            }
            @media (max-width: 720px){
                display: block;
                margin-right: 13px;
            }
        }

        .panel__title-p {
            display: inline-block;
        }

        .x-mark-panel {
            position: absolute;
            display: inline-block;
            top: -5px;
            right: 0px;
            @include x-mark;
            @media (max-width: 720px){
                display: none;
            }
        }
       
    }

    .panel__subtitle {
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid $main-border-color;
        width: 100%;
        padding: 10px;

        .panel__clear-button{
            background-color: transparent;
            top: 0;
            right: 0;
            padding: 5px;
            border-radius: 4px;
            font-size: .9rem;
            color: $secondary-font-color;
            &:hover{
                background-color: $hover-background-blue-color;
                color: #1a5dba;
            }
        }
    }

    .panel__content {
        flex-grow: 1;
        overflow: auto;

        .panel__item{
            padding: 4px 4px 4px 18px;
            border-bottom: 1px solid $main-border-color;
            font-size: .85rem;
            color:#202124;
            cursor: pointer;
            &:hover{
                background-color: rgba(248, 248, 248, 0.834);
            }
            .item__header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .item__lang-box{
                    display: flex;
                    align-items: center;
                    .item__arrow{
                        margin: 0 5px;
                        font-size: .9rem;
                    }
                }
                
                .item__icon-box{
                    color: $main-font-color;
                    .item__star{
                        font-size: 1.5rem;
                        padding: 7px;
                        cursor: pointer;
                        &:hover {
                        background-color: rgba(237, 237, 237, 0.505);
                        border-radius: 50%;
                    }
                    }
                    .item__dots{
                        font-weight: bold;
                        font-size: 1.6rem;
                        padding: 7px;
                        margin-left: 5px;
                        cursor: pointer;
                        &:hover {
                        background-color: rgba(237, 237, 237, 0.505);
                        border-radius: 50%;
                    }
                }
            }
            }
            .item__content{
                display: flex;
                flex-direction: column;
                overflow: auto;
                .text__from{
                   margin: 9px 0 4px 0;
                   word-wrap: break-word;
                }
                .text__to{
                    color: $main-font-color;
                    margin-bottom: 11px ;
                }
            }
        
    }
}
    .panel__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 49px;
        border-top: 1px solid $main-border-color;
        background-color:white;
    }

}
.panel--show {
    display: flex;
    flex-direction: column;
}