.main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 220px;
    border-radius: 9px;
    margin-bottom: 60px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    background-color: #fff;

    .main__header {
        display: flex;
        // align-items: center;
        width: 100%;
        top: 0;
        border-bottom: 1px solid $main-border-color;

    } 
    .main__header-left, .main__header-right {
        position: relative;
        display: flex;
        align-items: center;
        width: 50%;
     }

    .main__button-lang {
            padding: 17px 16px 14px 16px;
            font-size: 14px;
            letter-spacing: .3px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            border-bottom: 2px solid transparent;
            transition: .1s;
            &:hover {
                background-color:  #3c40430a;
                color: $main-font-input-color;
            }
    }

    .main__button-lang--active {
        border-bottom: 2px solid $secondary-font-color;
        color: $secondary-font-color;
        transition: .1s;
        &:hover {
            background-color:  #1966d209;
            color: $secondary-font-color;
        }
    }

    .main__button-lang-expand {
        position: relative;
        margin-left: 26px;

        .expand-icon-background {
            position: absolute;
            border-radius: 50%;
            padding: 20px 20px;
            background-color: rgb(211, 211, 211);
            transform: scale(0);
        }
        
        .expand-icon {
            position: relative;
            top: 0;
            left: 0;
           font-size: 1.7rem;
           padding: 7px;
           border-radius: 50%;
           cursor: pointer;
           transition: linear all .1s .2s;
          
           &:hover {
            background-color:  rgba(237, 237, 237, 0.505);
            
        }
        }

        .expand-icon--click {
            animation: iconClick  .3s ;
        }

        .rotate {
            transform: rotate(180deg);
        }
    }
    
    .swap-lang__button {
        position: relative;
        padding: 0 4px;
        cursor: pointer;

        .swap-lang__icon {
        font-size: 1rem;
        font-weight: bold;
        padding: 12px;
        &:hover {
            background-color: rgba(237, 237, 237, 0.505);
            border-radius: 50%;
        }
    }
    }

    .main__lang-panel {
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
    }



    .main__panel {
        position: relative;
        width: 100%;
        flex-grow: 1;
        

        .main__textarea {
        width: 100%;
        }

        .main__panel-left {
            // display: flex;
            // align-items: flex-start;
            left: 0;
            border-right: 1px solid $main-border-color;
            @include main-panel;
            
            .main__panel-x-mark {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 1.4rem;
                font-weight: bold;
                color: $main-font-color;
                margin: 16px 13px;
                padding: 8px;
                cursor: pointer;
                &:hover {
                    
                    background-color: rgba(237, 237, 237, 0.505);
                    border-radius: 50%;
                }
            }
            
            .main__textarea-left {

            }
        }
        .main__panel-right {
            right: 0;
            @include main-panel;

            .main__panel-star-box {
                position: absolute;
                top: 0;
                right: 0;

                .main__panel-star-icon {
                    font-size: 1.6rem;
                    color: $main-font-color;
                    margin: 16px 13px;
                    padding: 7px;
                    cursor: pointer;
                    &:hover {
                        
                        background-color: rgba(237, 237, 237, 0.505);
                        border-radius: 50%;
                    }
                }
              
            }

            .textarea__placeholder {
                opacity: .8;
            }

            .loader {
                margin-left: -4px;
                display: none;
            }
        }

    }

    .main__footer {
        position: relative;
        width: 100%;

        .main__footer-left {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px 20px; 
        width: 50%;
        border-right: 1px solid $main-border-color;

        .footer-counter {
            margin-right: 22px;
            font-family: "Roboto";
            font-weight: 300;
            font-size: .75rem;
            color: $main-font-color;
        }
        
        .footer__icon-keboard-box {
            position: relative;
            margin-right: 8px;

            .footer__icon-keyboard {
             opacity: .6;
             width: 18px;
         } 
         }

            .main__footer-arrow {
            opacity: .7;
            font-size: 1.1rem;
         }
        }

        .main__footer-right {
            position: absolute;
            bottom: 12px;
            right: 12px;
            .main__footer-copy-icon {
                padding: 8px;
                font-weight: bold;
                cursor: pointer;
                &:hover {
                    background-color: rgba(237, 237, 237, 0.505);
                    border-radius: 50%;
                }
                
            }
        }
    }

    .tooltip {
        display: none;
        position: absolute;
        bottom: -30px;
        // left: 0;
        right: 0;
        padding: 5px 7px;
        white-space: nowrap;
        background-color: #57595e;
        font-size: .8rem;
        color: white;
        border-radius: 4px;
        z-index: 2;
    }

    .tooltip-star {
        right: 15px;
        bottom: -17px;
    }

    .tooltip-copy {
        bottom: -35px;
    }

    .tooltip--show {
        display: block;
    }
}
  
@keyframes iconClick {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
