@mixin menu-icon-line {
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: $main-font-color;
}

@mixin main-panel {
    position: absolute;
    padding: 20px 20px;
    top: 0;
    width: 50%;
    height: 100%;
    font-size: 24px;
    font-weight: 400;
    color: $main-font-input-color;
    font-family: 'Roboto';
    // letter-spacing: 1px;
}