@mixin menu-icon-line {
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: $main-font-color;
}

@mixin main-panel {
    position: absolute;
    padding: 20px 20px;
    top: 0;
    width: 50%;
    height: 100%;
    font-size: 24px;
    font-weight: 400;
    color: $main-font-input-color;
    font-family: 'Roboto';
    @media (max-width: 720px){
        position: static;
        height: 169px;
        width: 100%;
        border-right: none;
        
    }
}

@mixin list__item-icons {
    position: absolute;
    left: 4px;
    top: 45%;
    transform: translateY(-50%);
}

@mixin logo-image {
    height: 24px;
    margin-top: 3px;
}

@mixin logo-subtitle {
    font-size: 1.3rem;
    margin-left: 4px;
    color: $main-font-color;
}

@mixin sliding-panel {
    display: none;
    position: sticky;
    // top: 64px;
    top: 0px;
    right: 0;
    width: 460px;
    height: 100vh;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);

    @media (max-width: 1260px){
        width: 350px;
        position: fixed;
    }
    @media (max-width: 720px){
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        z-index: 99;
    }
}

@mixin x-mark {
    font-size: 1.4rem;
    font-weight: bold;
    color: $main-font-color;
    margin: 16px 13px;
    padding: 8px;
    cursor: pointer;
    &:hover {
        background-color: rgba(237, 237, 237, 0.505);
        border-radius: 50%;
    }
}