.navigation {
    display: flex;
    position: fixed;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    padding: 7px;
    background-color: #fff;
    border-bottom: 1px solid $main-border-color;
    z-index:99;
   
    .navigation__menu-icon-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 4px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: .1s;

        &:hover {
            border-radius: 50%;
            background-color: $hover-grey-color;
        }

        .navigation__menu-icon-line {
            @include menu-icon-line;
        }

        .navigation__menu-icon-line::before {
            content: '';
            top: 5px;
            @include menu-icon-line;
        }

        .navigation__menu-icon-line::after {
            content: '';
            top:-5px;
            @include menu-icon-line;
        }
    }

    .navigation__logo-box {
        display: flex;
        cursor: pointer;

        .navigation__logo-image {
            height: 24px;
            margin-top: 3px;
        }

        .navigation__logo-subtitle {
            font-size: 1.3rem;
            margin-left: 4px;
            color: $main-font-color;
            // font-weight: 500;
        }
    }
}