.navigation {
    display: flex;
    position: fixed;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    padding: 7px;
    background-color: #fff;
    border-bottom: 1px solid $main-border-color;
    z-index:99;
   
    .navigation__menu-icon-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 4px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: .1s;

        &:hover {
            border-radius: 50%;
            background-color: $hover-grey-color;
        }

        .navigation__menu-icon-line {
            @include menu-icon-line;
        }

        .navigation__menu-icon-line::before {
            content: '';
            top: 5px;
            @include menu-icon-line;
        }

        .navigation__menu-icon-line::after {
            content: '';
            top:-5px;
            @include menu-icon-line;
        }
    }

    .navigation__logo-box {
        display: flex;
        cursor: pointer;

        .navigation__logo-image {
            @include logo-image
        }

        .navigation__logo-subtitle {
           @include logo-subtitle;
        }
    }
}

.navigation__left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 280px;
    transform: translateX(-120%);
    z-index: 99;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: .2s;

    .logo__box {
        display: flex;
        padding: 21px 24px;
        cursor: pointer;
    }

    .logo__image {
        @include logo-image;
    }

    .logo__subtitle {
        @include logo-subtitle;
    }

    .navigation__left-line {
        position: absolute;
        top: 120px;
        width: 100%;
        height: .5px;
        background-color: $main-border-color;
    }

    .naviagation__left-title {
        margin-top: 10px;
        font-size: .83rem;
        font-weight: 300;
        font-family: 'Roboto';
        text-align: center;
        color: black;
        text-decoration: underline;
    }

    .naviagation__left-text {
        margin-top: 50px;
        padding: 0 43px;
        font-size: .83rem;
        font-weight: 300;
        font-family: 'Roboto';
        text-align: left;
        color: black;
        line-height: 25px;
        
    }
}