.save__panel {

    .save__panel-title {
        padding: 26px 12px 7px 20px;
        @media (max-width: 720px){
            display: flex;
            justify-content: space-between;
            padding: 2px ;
        }

        .panel__title-box {
            display: flex;
            align-items: center;
        }
        
        .save__panel-title-p {
            margin-left: 10px;
            margin-bottom: 13px;
            @media (max-width: 720px){
                margin: 0;
            }
        }

        .title__options{
            display: flex;
            flex-basis: 100%;
// display: none;
            .title__loup-icon{
            font-weight: bold;
            font-size:  1.4rem;
            padding: 9px;
            color: $main-font-color;
            cursor: pointer;
            &:hover {
                background-color: rgba(237, 237, 237, 0.505);
                border-radius: 50%;
            }
            @media (max-width: 720px){
                margin-right: 3px;
            }
            }
       
        .options__sort {
            display: flex;
            position: relative;
            align-items: center;
            margin-left: auto;
            margin-right: 11px;
            padding: 0px 13px;
            border-radius: 4px;
            cursor: pointer;
            color: #202124;
            &:hover {
                background-color:  rgba(237, 237, 237, 0.393);
            }
               @media (max-width: 720px){
                border-radius: 50%;
                padding: 10px;
            }

            .sort__text{
                font-size: .85rem;
                font-weight: 500;
            }

            .sort__icon, .sort__text{
                @media (max-width: 720px){
                    display: none;
                }
            }

            .sort__icon--mobile {
                display: none;
                font-weight: bold;
                @media (max-width: 720px){
                    display: block;
                }
            }

            .sort__menu {
                top: 100%;
                right: 0;
                padding: 8px 0;
                @include panelMenuBox;

                .sort__date, .sort__alphabet {
                    display: flex;
                    align-items: center;
                    padding: 12px;
                    width: 100%;
                }

              .sort__date:hover, .sort__alphabet:hover  {
                background-color:$hover-background-blue-color;
              }
              
              .check__icon {
                color: $secondary-font-color;
                font-weight: bold;
                margin-right: 13px;
                margin-left: 3px;
              }
              .check__icon-date {
                visibility: visible;
              }

              .check__icon-alphabet {
                visibility: hidden;
              }
            }
           
            
        }

        .title__dots{
            position: relative;
            font-weight: bold;
            font-size: 1.6rem;
            padding: 7px;
            color: $main-font-color;
            cursor: pointer;
            &:hover {
            background-color: rgba(237, 237, 237, 0.505);
            border-radius: 50%;
            } 
            }
            @media (max-width: 720px){
                flex-basis: auto;
            }

            .title__dots-menu {
                right: 5px;
                top: 94%;
                // padding: 22px;
                cursor: pointer;
                @include panelMenuBox;

                
                .title__dots-text {
                    display: block;
                    width: 100%;
                    padding: 14px;
                    margin: 8px 0;
                    &:hover {
                        
                        background-color: $hover-grey-color;
                    }

                }
            }

    }
    
    .title__search {
        display: none; 
        width: 100%;
        align-items: center;
        position: relative;

        .title__loup-icon {
        position: absolute;
        color: $main-font-color;
        font-weight: bold;
        font-size: 1.4rem;
        margin-left: 12px;
        }

        .title__input {           
            width: 100%;
            padding: 10px 0 10px 50px;
            border-radius: 4px;
            background-color: $hover-grey-color;
            font-size: 1rem;

            &::placeholder {
                font-size: 1rem;
                color: $main-font-input-color;
            }
        } 

        .x-mark-panel.x-mark__search-input {
            margin: 0;
            top: 0;
            right: 0;
            
        } 
    }
}

.save__panel-subtitle {
    justify-content: space-between;
    align-items: center;
    padding: 6px 6px 6px 30px;
    font-weight: 500;

    .subtitle__counter{
        font-size: .85rem;
    }   
    .subtitle__arrows {
    
        .subtitle__arrows-icon {
            font-size: 1.3rem;
            font-weight: bold;
            padding: 9px;
            cursor: pointer;
            &:hover {
                border-radius: 50%;
                background-color:  rgba(237, 237, 237, 0.505);
            }
        }
    }
}
.panel__item {
    
}

.item__lang-box {
    border: 1px solid $main-border-color;
    border-radius: 15px;
    padding: 0 12px;
    height: 26px;
    margin-top: 6px;
}
.item__star {
   color: #d56e0c;
}

}
// @keyframes clickAnimation{
//     0% {
//         transform: scaleX(0);
//     }
//     100%{
//         transform: scaleX(1);
//     }
    
// }
