$base-font-size: 16px;
$main-font-color: #5f6368;
$main-font-input-color: #3c4043;
// $secondary-font-color: #1967d2;
$secondary-font-color: #1a73e8;

$main-border-color: rgb(221, 221, 221);

$hover-grey-color: rgb(244, 244, 244);
$hover-background-blue-color:  #1966d214;
$hover-background-blue-color--active:  #1966d21e;
$hover-text-blue-color:  #0e4faa;

$max-width: 1185px;
