$base-font-size: 16px;
$main-font-color: #5f6368;
$main-font-input-color: #3c4043;
$secondary-font-color: #1967d2;

$main-border-color: rgb(221, 221, 221);

$hover-grey-color: rgb(237, 237, 237);
$hover-background-blue-color:  #1966d20b;
$hover-background-blue-color--active:  #1966d21e;
$hover-text-blue-color:  #0e4faa;

$max-width: 1185px;
