html, body {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1185px;
  margin: 66.66px auto 0 auto;
}

.line {
  position: absolute;
  top: 162px;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: rgb(221, 221, 221);
  z-index: -1;
}

.main {
  width: 100%;
  min-height: 220px;
  border-radius: 9px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  background-color: #fff;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  padding: 7px;
  background-color: #fff;
  border-bottom: 1px solid rgb(221, 221, 221);
}
.navigation .navigation__menu-icon-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.navigation .navigation__menu-icon-box:hover {
  border-radius: 50%;
  background-color: rgb(237, 237, 237);
}
.navigation .navigation__menu-icon-box .navigation__menu-icon-line {
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #5f6368;
}
.navigation .navigation__menu-icon-box .navigation__menu-icon-line::before {
  content: "";
  top: 5px;
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #5f6368;
}
.navigation .navigation__menu-icon-box .navigation__menu-icon-line::after {
  content: "";
  top: -5px;
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #5f6368;
}
.navigation .navigation__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation .navigation__logo-box .navigation__logo-image {
  height: 24px;
  margin-top: 3px;
}
.navigation .navigation__logo-box .navigation__logo-subtitle {
  font-size: 1.3rem;
  margin-left: 4px;
  color: #5f6368;
}

.header__buttons-box .header__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 14px 2px 15px 2px;
  background-color: transparent;
  border: solid 1px rgb(221, 221, 221);
  border-radius: 4px;
  color: #1967d2;
  font-size: 0.9rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  padding: 7px 13px;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.header__buttons-box .header__button:hover {
  background-color: rgba(25, 102, 210, 0.0431372549);
  color: #0e4faa;
}
.header__buttons-box .header__button .header__button-icon {
  font-size: 1.25rem;
  margin-right: 5px;
}
.header__buttons-box .button--active {
  background-color: rgba(25, 102, 210, 0.1176470588);
}/*# sourceMappingURL=style.css.map */