html, body, button {
  color: #5f6368;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

button {
  border: none;
  background-color: transparent;
}

textarea {
  all: unset;
  word-wrap: break-word;
}

.container {
  width: 100%;
  max-width: 1185px;
  margin: 66.66px auto 0 auto;
}

.line {
  position: absolute;
  top: 162px;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: rgb(221, 221, 221);
  z-index: -1;
}

.hide {
  display: none !important;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 220px;
  border-radius: 9px;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  background-color: #fff;
}
.main .main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  top: 0;
  border-bottom: 1px solid rgb(221, 221, 221);
}
.main .main__header-left, .main .main__header-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.main .main__button-lang {
  padding: 17px 16px 14px 16px;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.main .main__button-lang:hover {
  background-color: rgba(60, 64, 67, 0.0392156863);
  color: #3c4043;
}
.main .main__button-lang--active {
  border-bottom: 2px solid #1967d2;
  color: #1967d2;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.main .main__button-lang--active:hover {
  background-color: rgba(25, 102, 210, 0.0352941176);
  color: #1967d2;
}
.main .main__button-lang-expand {
  position: relative;
  margin-left: 26px;
}
.main .main__button-lang-expand .expand-icon-background {
  position: absolute;
  border-radius: 50%;
  padding: 20px 20px;
  background-color: rgb(211, 211, 211);
  -webkit-transform: scale(0);
          transform: scale(0);
}
.main .main__button-lang-expand .expand-icon {
  position: relative;
  top: 0;
  left: 0;
  font-size: 1.7rem;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: linear all 0.1s 0.2s;
  transition: linear all 0.1s 0.2s;
}
.main .main__button-lang-expand .expand-icon:hover {
  background-color: rgba(237, 237, 237, 0.505);
}
.main .main__button-lang-expand .expand-icon--click {
  -webkit-animation: iconClick 0.3s;
          animation: iconClick 0.3s;
}
.main .main__button-lang-expand .rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main .swap-lang__button {
  position: relative;
  padding: 0 4px;
  cursor: pointer;
}
.main .swap-lang__button .swap-lang__icon {
  font-size: 1rem;
  font-weight: bold;
  padding: 12px;
}
.main .swap-lang__button .swap-lang__icon:hover {
  background-color: rgba(237, 237, 237, 0.505);
  border-radius: 50%;
}
.main .main__lang-panel {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}
.main .main__panel {
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.main .main__panel .main__textarea {
  width: 100%;
}
.main .main__panel .main__panel-left {
  left: 0;
  border-right: 1px solid rgb(221, 221, 221);
  position: absolute;
  padding: 20px 20px;
  top: 0;
  width: 50%;
  height: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #3c4043;
  font-family: "Roboto";
}
.main .main__panel .main__panel-left .main__panel-x-mark {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: #5f6368;
  margin: 16px 13px;
  padding: 8px;
  cursor: pointer;
}
.main .main__panel .main__panel-left .main__panel-x-mark:hover {
  background-color: rgba(237, 237, 237, 0.505);
  border-radius: 50%;
}
.main .main__panel .main__panel-right {
  right: 0;
  position: absolute;
  padding: 20px 20px;
  top: 0;
  width: 50%;
  height: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #3c4043;
  font-family: "Roboto";
}
.main .main__panel .main__panel-right .main__panel-star-box {
  position: absolute;
  top: 0;
  right: 0;
}
.main .main__panel .main__panel-right .main__panel-star-box .main__panel-star-icon {
  font-size: 1.6rem;
  color: #5f6368;
  margin: 16px 13px;
  padding: 7px;
  cursor: pointer;
}
.main .main__panel .main__panel-right .main__panel-star-box .main__panel-star-icon:hover {
  background-color: rgba(237, 237, 237, 0.505);
  border-radius: 50%;
}
.main .main__panel .main__panel-right .textarea__placeholder {
  opacity: 0.8;
}
.main .main__panel .main__panel-right .loader {
  margin-left: -4px;
  display: none;
}
.main .main__footer {
  position: relative;
  width: 100%;
}
.main .main__footer .main__footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
  width: 50%;
  border-right: 1px solid rgb(221, 221, 221);
}
.main .main__footer .main__footer-left .footer-counter {
  margin-right: 22px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.75rem;
  color: #5f6368;
}
.main .main__footer .main__footer-left .footer__icon-keboard-box {
  position: relative;
  margin-right: 8px;
}
.main .main__footer .main__footer-left .footer__icon-keboard-box .footer__icon-keyboard {
  opacity: 0.6;
  width: 18px;
}
.main .main__footer .main__footer-left .main__footer-arrow {
  opacity: 0.7;
  font-size: 1.1rem;
}
.main .main__footer .main__footer-right {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
.main .main__footer .main__footer-right .main__footer-copy-icon {
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}
.main .main__footer .main__footer-right .main__footer-copy-icon:hover {
  background-color: rgba(237, 237, 237, 0.505);
  border-radius: 50%;
}
.main .tooltip {
  display: none;
  position: absolute;
  bottom: -30px;
  right: 0;
  padding: 5px 7px;
  white-space: nowrap;
  background-color: #57595e;
  font-size: 0.8rem;
  color: white;
  border-radius: 4px;
  z-index: 2;
}
.main .tooltip-star {
  right: 15px;
  bottom: -17px;
}
.main .tooltip-copy {
  bottom: -35px;
}
.main .tooltip--show {
  display: block;
}

@-webkit-keyframes iconClick {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes iconClick {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  padding: 7px;
  background-color: #fff;
  border-bottom: 1px solid rgb(221, 221, 221);
  z-index: 99;
}
.navigation .navigation__menu-icon-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.navigation .navigation__menu-icon-box:hover {
  border-radius: 50%;
  background-color: rgb(237, 237, 237);
}
.navigation .navigation__menu-icon-box .navigation__menu-icon-line {
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #5f6368;
}
.navigation .navigation__menu-icon-box .navigation__menu-icon-line::before {
  content: "";
  top: 5px;
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #5f6368;
}
.navigation .navigation__menu-icon-box .navigation__menu-icon-line::after {
  content: "";
  top: -5px;
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #5f6368;
}
.navigation .navigation__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.navigation .navigation__logo-box .navigation__logo-image {
  height: 24px;
  margin-top: 3px;
}
.navigation .navigation__logo-box .navigation__logo-subtitle {
  font-size: 1.3rem;
  margin-left: 4px;
  color: #5f6368;
}

.header__buttons-box .header__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 14px 2px 15px 2px;
  border: solid 1px rgb(221, 221, 221);
  border-radius: 4px;
  color: #1967d2;
  font-size: 0.9rem;
  padding: 7px 13px;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.header__buttons-box .header__button:hover {
  background-color: rgba(25, 102, 210, 0.0431372549);
  color: #0e4faa;
}
.header__buttons-box .header__button .header__button-icon {
  font-size: 1.25rem;
  margin-right: 5px;
}
.header__buttons-box .button--active {
  background-color: rgba(25, 102, 210, 0.1176470588);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.footer .footer__icon-box {
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.footer .footer__icon-box .footer__icon {
  display: block;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 18px;
  border: solid 1px rgb(221, 221, 221);
  border-radius: 50%;
  background-color: transparent;
  color: #757575;
  margin: 29px 30px 10px 30px;
}
.footer .footer__icon-subtitle {
  font-size: 0.9rem;
}/*# sourceMappingURL=style.css.map */