html, body, button {
  color: #5f6368;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

textarea {
  all: unset;
  word-wrap: break-word;
}

input {
  all: unset;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 90%;
  max-width: 1185px;
  margin: 66.66px auto 0 auto;
}
@media (max-width: 1260px) {
  .container {
    width: 100%;
  }
}

.line {
  position: absolute;
  top: 162px;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-color: rgb(221, 221, 221);
  z-index: -1;
}

.hide {
  display: none !important;
}

@-webkit-keyframes clickAnimation {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes clickAnimation {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 90%;
  margin: 0 auto 60px auto;
  max-width: 1260px;
  min-height: 220px;
  border-radius: 9px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  background-color: #fff;
}
@media (max-width: 1260px) {
  .main {
    width: 100%;
  }
}
.main .main__right-panel-background {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 170px;
  background-color: rgba(237, 237, 237, 0.578);
}
.main .main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  top: 0;
  border-bottom: 1px solid rgb(221, 221, 221);
  overflow: hidden;
}
.main .main__header-left, .main .main__header-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  background-color: white;
  border-radius: 20px;
}
@media (max-width: 720px) {
  .main .main__header-left, .main .main__header-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main .main__button-lang {
  padding: 17px 16px 14px 16px;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.main .main__button-lang:hover {
  background-color: rgba(60, 64, 67, 0.0392156863);
  color: #3c4043;
}
@media (max-width: 720px) {
  .main .main__button-lang {
    display: none;
  }
}
.main .main__button-detect-lang-after {
  display: none;
}
.main .main__button-lang--active {
  border-bottom: 2px solid #1a73e8;
  color: #1a73e8;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.main .main__button-lang--active:hover {
  background-color: rgba(25, 102, 210, 0.0352941176);
  color: #1a73e8;
}
@media (max-width: 720px) {
  .main .main__button-lang--active {
    display: block;
    border-bottom: 2px solid transparent;
  }
}
.main .main__button-lang-expand {
  position: relative;
  margin-left: 26px;
}
.main .main__button-lang-expand .expand-icon-background {
  position: absolute;
  border-radius: 50%;
  padding: 20px 20px;
  background-color: rgb(211, 211, 211);
  -webkit-transform: scale(0);
          transform: scale(0);
}
.main .main__button-lang-expand .expand-icon {
  position: relative;
  top: 0;
  left: 0;
  font-size: 1.7rem;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: linear transform 0.1s 0.2s;
  transition: linear transform 0.1s 0.2s;
}
.main .main__button-lang-expand .expand-icon:hover {
  background-color: rgba(237, 237, 237, 0.505);
}
@media (max-width: 720px) {
  .main .main__button-lang-expand .expand-icon {
    display: none;
  }
}
.main .main__button-lang-expand .expand-icon--click {
  -webkit-animation: iconClick 0.3s;
          animation: iconClick 0.3s;
}
.main .main__button-lang-expand .rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main .main__button-lang-expand-left {
  position: absolute;
  top: 0px;
  left: -70px;
  height: 100%;
  margin-left: 0;
  padding-right: 50px;
  background-color: white;
  -webkit-box-shadow: -10px 0 5px white;
          box-shadow: -10px 0 5px white;
}
.main .swap-lang__box {
  position: relative;
}
.main .swap-lang__box .swap-lang__button {
  position: relative;
  padding: 0 4px;
  background-color: white;
}
.main .swap-lang__box .swap-lang__button .swap-lang__icon {
  font-size: 1rem;
  font-weight: bold;
  padding: 12px;
  cursor: pointer;
}
.main .swap-lang__box .swap-lang__button .swap-lang__icon:hover {
  background-color: rgba(237, 237, 237, 0.505);
  border-radius: 50%;
}
.main .swap-lang__box .swap-lang__button .swap-lang__icon--disable {
  opacity: 0.5;
}
.main .main__lang-panel {
  display: block;
  width: 100%;
}
@media (max-width: 720px) {
  .main .main__lang-panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: white;
    z-index: 99;
    overflow: scroll;
  }
}
.main .main__lang-panel .main__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid rgb(221, 221, 221);
}
.main .main__lang-panel .main__search .main__search-arrow-icon {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 9px;
  margin-left: 3px;
  margin-right: 21px;
  cursor: pointer;
}
.main .main__lang-panel .main__search .main__search-arrow-icon:hover {
  background-color: rgba(237, 237, 237, 0.505);
  border-radius: 50%;
}
.main .main__lang-panel .main__search .main__search-input {
  width: 100%;
  font-size: 1rem;
  color: black;
  font-weight: 300;
  font-family: "Roboto";
}
.main .main__lang-panel .main__search .main__search-input::-webkit-input-placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: #5f6368;
  opacity: 1;
}
.main .main__lang-panel .main__search .main__search-input::-moz-placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: #5f6368;
  opacity: 1;
}
.main .main__lang-panel .main__search .main__search-input:-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: #5f6368;
  opacity: 1;
}
.main .main__lang-panel .main__search .main__search-input::-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: #5f6368;
  opacity: 1;
}
.main .main__lang-panel .main__search .main__search-input::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: #5f6368;
  opacity: 1;
}
.main .main__lang-panel .main__search .x-mark-search {
  display: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: #5f6368;
  margin: 16px 13px;
  padding: 8px;
  cursor: pointer;
  z-index: 100;
  cursor: pointer;
}
.main .main__lang-panel .main__search .x-mark-search:hover {
  background-color: rgba(237, 237, 237, 0.505);
  border-radius: 50%;
}
.main .main__lang-panel .main__search .search-bar-text {
  position: absolute;
  display: none;
  top: 50px;
  left: 0;
  padding-left: 25px;
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-size: 1.5rem;
  font-weight: 300;
  color: black;
  background-color: white;
  z-index: 99;
  cursor: pointer;
  font-family: "Roboto";
}
@media (max-width: 720px) {
  .main .main__lang-panel .main__search .search-bar-text {
    font-size: 1rem;
    top: 0;
    left: 35px;
    font-weight: 500;
  }
}
.main .main__lang-panel .main__lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 781px;
  padding: 9px 0px 9px 25px;
  position: relative;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media (max-width: 720px) {
  .main .main__lang-panel .main__lang-list {
    height: auto;
  }
}
.main .main__lang-panel .main__lang-list .main__lang-list--small {
  height: auto;
}
.main .main__lang-panel .main__lang-list .list__item {
  list-style-type: none;
  position: relative;
  padding: 6px 10px 10px 36px;
  margin-bottom: 2px;
  font-size: 0.87rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto";
  cursor: pointer;
}
.main .main__lang-panel .main__lang-list .list__item:hover {
  background-color: rgb(244, 244, 244);
}
.main .main__lang-panel .main__lang-list .list__item .detect__language-icon {
  top: 4px;
  left: 118px;
  font-size: 1.3rem;
  position: absolute;
  color: inherit;
}
.main .main__lang-panel .main__lang-list .list__item--active {
  background-color: rgb(228, 240, 255);
  color: #1a73e8;
  font-weight: 500;
}
.main .main__lang-panel .main__lang-list .list__item-active-icon {
  display: none;
  font-size: 1.4rem;
  position: absolute;
  left: 4px;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgb(228, 240, 255);
}
.main .main__lang-panel .main__lang-list .list__item-history-icon {
  display: none;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0.7;
  position: absolute;
  left: 4px;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.main .main__lang-panel .main__lang-list .list__item-active-icon--show, .main .main__lang-panel .main__lang-list .list__item-history-icon--show {
  display: block;
}
.main .main__panel {
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 720px) {
  .main .main__panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main .main__panel .main__textarea {
  width: 100%;
  height: 100%;
  overflow-wrap: break-word;
  overflow: auto;
}
.main .main__panel .main__panel-left {
  left: 0;
  border-right: 1px solid rgb(221, 221, 221);
  background-color: white;
  position: absolute;
  padding: 20px 20px;
  top: 0;
  width: 50%;
  height: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #3c4043;
  font-family: "Roboto";
}
@media (max-width: 720px) {
  .main .main__panel .main__panel-left {
    position: static;
    height: 169px;
    width: 100%;
    border-right: none;
  }
}
.main .main__panel .main__panel-left .x-mark {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: #5f6368;
  margin: 16px 13px;
  padding: 8px;
  cursor: pointer;
}
.main .main__panel .main__panel-left .x-mark:hover {
  background-color: rgba(237, 237, 237, 0.505);
  border-radius: 50%;
}
.main .main__panel .main__panel-right {
  right: 0;
  position: absolute;
  padding: 20px 20px;
  top: 0;
  width: 50%;
  height: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #3c4043;
  font-family: "Roboto";
}
@media (max-width: 720px) {
  .main .main__panel .main__panel-right {
    position: static;
    height: 169px;
    width: 100%;
    border-right: none;
  }
}
@media (max-width: 720px) {
  .main .main__panel .main__panel-right {
    display: none;
    height: 133px;
    background-color: #1a73e8;
    color: white;
  }
}
.main .main__panel .main__panel-right .main__panel-star-box {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 720px) {
  .main .main__panel .main__panel-right .main__panel-star-box {
    display: block;
    color: white;
    top: 167px;
  }
}
.main .main__panel .main__panel-right .main__panel-star-box .main__panel-star-icon {
  display: none;
  font-size: 1.6rem;
  color: #5f6368;
  margin: 16px 13px;
  padding: 7px;
  cursor: pointer;
}
@media (max-width: 720px) {
  .main .main__panel .main__panel-right .main__panel-star-box .main__panel-star-icon {
    color: white;
  }
}
.main .main__panel .main__panel-right .main__panel-star-box .main__panel-star-icon:hover {
  background-color: rgba(237, 237, 237, 0.505);
  border-radius: 50%;
}
.main .main__panel .main__panel-right .textarea__placeholder {
  opacity: 0.8;
}
.main .main__panel .main__panel-right .loader {
  margin-left: -4px;
  display: none;
}
.main .main__footer {
  position: relative;
  width: 100%;
}
@media (max-width: 720px) {
  .main .main__footer {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
.main .main__footer .main__footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
  width: 50%;
  border-right: 1px solid rgb(221, 221, 221);
}
.main .main__footer .main__footer-left .footer-counter {
  margin-right: 22px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.75rem;
  color: #5f6368;
}
@media (max-width: 720px) {
  .main .main__footer .main__footer-left .footer-counter {
    visibility: visible;
    position: absolute;
    top: 185px;
    right: 30px;
  }
}
.main .main__footer .main__footer-left .footer__icon-keboard-box {
  position: relative;
  margin-right: 8px;
}
.main .main__footer .main__footer-left .footer__icon-keboard-box .footer__icon-keyboard {
  opacity: 0.6;
  width: 18px;
}
.main .main__footer .main__footer-left .main__footer-arrow {
  opacity: 0.7;
  font-size: 1.1rem;
}
.main .main__footer .main__footer-right {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
.main .main__footer .main__footer-right .main__footer-copy-icon {
  display: none;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 720px) {
  .main .main__footer .main__footer-right .main__footer-copy-icon {
    position: absolute;
    display: block;
    bottom: -300px;
    right: 0px;
    color: white;
    visibility: visible;
  }
}
.main .main__footer .main__footer-right .main__footer-copy-icon:hover {
  background-color: rgba(237, 237, 237, 0.505);
  border-radius: 50%;
}
.main .tooltip {
  display: none;
  position: absolute;
  bottom: -30px;
  right: 0;
  padding: 5px 7px;
  white-space: nowrap;
  background-color: #57595e;
  font-size: 0.8rem;
  color: white;
  border-radius: 4px;
  z-index: 2;
}
.main .tooltip-star {
  right: 15px;
  bottom: -17px;
}
.main .tooltip-copy {
  bottom: -35px;
}
.main .tooltip--show {
  display: block;
}

@-webkit-keyframes iconClick {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes iconClick {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  padding: 7px;
  background-color: #fff;
  border-bottom: 1px solid rgb(221, 221, 221);
  z-index: 99;
}
.navigation .navigation__menu-icon-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.navigation .navigation__menu-icon-box:hover {
  border-radius: 50%;
  background-color: rgb(244, 244, 244);
}
.navigation .navigation__menu-icon-box .navigation__menu-icon-line {
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #5f6368;
}
.navigation .navigation__menu-icon-box .navigation__menu-icon-line::before {
  content: "";
  top: 5px;
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #5f6368;
}
.navigation .navigation__menu-icon-box .navigation__menu-icon-line::after {
  content: "";
  top: -5px;
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #5f6368;
}
.navigation .navigation__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.navigation .navigation__logo-box .navigation__logo-image {
  height: 24px;
  margin-top: 3px;
}
.navigation .navigation__logo-box .navigation__logo-subtitle {
  font-size: 1.3rem;
  margin-left: 4px;
  color: #5f6368;
}

.navigation__left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 280px;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  z-index: 99;
  background-color: white;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.navigation__left .logo__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 21px 24px;
  cursor: pointer;
}
.navigation__left .logo__image {
  height: 24px;
  margin-top: 3px;
}
.navigation__left .logo__subtitle {
  font-size: 1.3rem;
  margin-left: 4px;
  color: #5f6368;
}
.navigation__left .navigation__left-line {
  position: absolute;
  top: 120px;
  width: 100%;
  height: 0.5px;
  background-color: rgb(221, 221, 221);
}
.navigation__left .naviagation__left-title {
  margin-top: 10px;
  font-size: 0.83rem;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
  color: black;
  text-decoration: underline;
}
.navigation__left .naviagation__left-text {
  margin-top: 50px;
  padding: 0 43px;
  font-size: 0.83rem;
  font-weight: 300;
  font-family: "Roboto";
  text-align: left;
  color: black;
  line-height: 25px;
}

.header__buttons-box {
  width: 90%;
  max-width: 1260px;
  margin: 0 auto;
}
.header__buttons-box .header__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 14px 2px 15px 2px;
  border: solid 1px rgb(221, 221, 221);
  border-radius: 4px;
  color: #1a73e8;
  font-size: 0.9rem;
  padding: 7px 13px;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.header__buttons-box .header__button:hover {
  background-color: rgba(25, 102, 210, 0.0784313725);
  color: #0e4faa;
}
.header__buttons-box .header__button .header__button-icon {
  font-size: 1.25rem;
  margin-right: 5px;
}
.header__buttons-box .button--active {
  background-color: rgba(25, 102, 210, 0.1176470588);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-bottom: 25px;
}
.footer .footer__icon-box {
  border-radius: 50%;
  border: none;
  background-color: transparent;
}
.footer .footer__icon-box .footer__icon {
  display: block;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 18px;
  border: solid 1px rgb(221, 221, 221);
  border-radius: 50%;
  background-color: transparent;
  color: #757575;
  margin: 29px 30px 10px 30px;
  cursor: pointer;
}
.footer .footer__icon-box .footer__icon--active {
  background-color: rgba(25, 102, 210, 0.0784313725);
  color: #1a73e8;
  border: solid 1px transparent;
}
.footer .footer__icon-subtitle {
  font-size: 0.9rem;
}
.footer .footer__icon-subtitle--active {
  color: #1a73e8;
}

.panel {
  display: none;
  position: sticky;
  top: 0px;
  right: 0;
  width: 460px;
  height: 100vh;
  background-color: white;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  font-family: "Roboto";
  font-weight: 300;
}
@media (max-width: 1260px) {
  .panel {
    width: 350px;
    position: fixed;
  }
}
@media (max-width: 720px) {
  .panel {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 99;
  }
}
.panel .panel__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 64px;
  padding: 26px;
  font-size: 1.7rem;
  color: black;
  border-bottom: 1px solid rgb(221, 221, 221);
}
@media (max-width: 720px) {
  .panel .panel__title {
    margin-top: 0;
    font-size: 1.1rem;
    padding: 3px;
  }
}
.panel .panel__title .panel__arrow {
  display: none;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 9px;
  color: #5f6368;
  cursor: pointer;
}
.panel .panel__title .panel__arrow:hover {
  background-color: rgba(237, 237, 237, 0.505);
  border-radius: 50%;
}
@media (max-width: 720px) {
  .panel .panel__title .panel__arrow {
    display: block;
    margin-right: 13px;
  }
}
.panel .panel__title .panel__title-p {
  display: inline-block;
}
.panel .panel__title .x-mark-panel {
  position: absolute;
  display: inline-block;
  top: -5px;
  right: 0px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #5f6368;
  margin: 16px 13px;
  padding: 8px;
  cursor: pointer;
}
.panel .panel__title .x-mark-panel:hover {
  background-color: rgba(237, 237, 237, 0.505);
  border-radius: 50%;
}
@media (max-width: 720px) {
  .panel .panel__title .x-mark-panel {
    display: none;
  }
}
.panel .panel__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px solid rgb(221, 221, 221);
  width: 100%;
  padding: 10px;
}
.panel .panel__subtitle .panel__clear-button {
  background-color: transparent;
  top: 0;
  right: 0;
  padding: 5px;
  border-radius: 4px;
  font-size: 0.9rem;
  color: #1a73e8;
}
.panel .panel__subtitle .panel__clear-button:hover {
  background-color: rgba(25, 102, 210, 0.0784313725);
  color: #1a5dba;
}
.panel .panel__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: auto;
}
.panel .panel__content .panel__item {
  padding: 4px 4px 4px 18px;
  border-bottom: 1px solid rgb(221, 221, 221);
  font-size: 0.85rem;
  color: #202124;
  cursor: pointer;
}
.panel .panel__content .panel__item:hover {
  background-color: rgba(248, 248, 248, 0.834);
}
.panel .panel__content .panel__item .item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.panel .panel__content .panel__item .item__header .item__lang-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.panel .panel__content .panel__item .item__header .item__lang-box .item__arrow {
  margin: 0 5px;
  font-size: 0.9rem;
}
.panel .panel__content .panel__item .item__header .item__icon-box {
  color: #5f6368;
}
.panel .panel__content .panel__item .item__header .item__icon-box .item__star {
  font-size: 1.6rem;
  padding: 7px;
  cursor: pointer;
}
.panel .panel__content .panel__item .item__header .item__icon-box .item__star:hover {
  background-color: rgba(237, 237, 237, 0.505);
  border-radius: 50%;
}
.panel .panel__content .panel__item .item__header .item__icon-box .item__dots {
  font-weight: bold;
  font-size: 1.6rem;
  padding: 7px;
  margin-left: 5px;
  cursor: pointer;
}
.panel .panel__content .panel__item .item__header .item__icon-box .item__dots:hover {
  background-color: rgba(237, 237, 237, 0.505);
  border-radius: 50%;
}
.panel .panel__content .panel__item .item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.panel .panel__content .panel__item .item__content .text__from {
  margin: 9px 0 4px 0;
}
.panel .panel__content .panel__item .item__content .text__to {
  color: #5f6368;
  margin-bottom: 11px;
}
.panel .panel__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 49px;
  border-top: 1px solid rgb(221, 221, 221);
  background-color: white;
}

.panel--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.save__panel .save__panel-title {
  padding: 26px 12px 7px 20px;
}
@media (max-width: 720px) {
  .save__panel .save__panel-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2px;
  }
}
.save__panel .save__panel-title .panel__title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.save__panel .save__panel-title .save__panel-title-p {
  margin-left: 10px;
  margin-bottom: 13px;
}
@media (max-width: 720px) {
  .save__panel .save__panel-title .save__panel-title-p {
    margin: 0;
  }
}
.save__panel .save__panel-title .title__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.save__panel .save__panel-title .title__options .title__loup-icon {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 9px;
  color: #5f6368;
  cursor: pointer;
}
.save__panel .save__panel-title .title__options .title__loup-icon:hover {
  background-color: rgba(237, 237, 237, 0.505);
  border-radius: 50%;
}
@media (max-width: 720px) {
  .save__panel .save__panel-title .title__options .title__loup-icon {
    margin-right: 3px;
  }
}
.save__panel .save__panel-title .title__options .options__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 11px;
  padding: 0px 13px;
  border-radius: 4px;
  cursor: pointer;
  color: #202124;
}
.save__panel .save__panel-title .title__options .options__sort:hover {
  background-color: rgba(237, 237, 237, 0.393);
}
@media (max-width: 720px) {
  .save__panel .save__panel-title .title__options .options__sort {
    border-radius: 50%;
    padding: 10px;
  }
}
.save__panel .save__panel-title .title__options .options__sort .sort__text {
  font-size: 0.85rem;
  font-weight: 500;
}
@media (max-width: 720px) {
  .save__panel .save__panel-title .title__options .options__sort .sort__icon, .save__panel .save__panel-title .title__options .options__sort .sort__text {
    display: none;
  }
}
.save__panel .save__panel-title .title__options .options__sort .sort__icon--mobile {
  display: none;
  font-weight: bold;
}
@media (max-width: 720px) {
  .save__panel .save__panel-title .title__options .options__sort .sort__icon--mobile {
    display: block;
  }
}
.save__panel .save__panel-title .title__options .options__sort .sort__menu {
  top: 100%;
  right: 0;
  padding: 8px 0;
  display: block;
  position: absolute;
  font-size: 1rem;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid rgb(221, 221, 221);
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.259);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.259);
  background-color: white;
}
.save__panel .save__panel-title .title__options .options__sort .sort__menu .sort__date, .save__panel .save__panel-title .title__options .options__sort .sort__menu .sort__alphabet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  width: 100%;
}
.save__panel .save__panel-title .title__options .options__sort .sort__menu .sort__date:hover, .save__panel .save__panel-title .title__options .options__sort .sort__menu .sort__alphabet:hover {
  background-color: rgba(25, 102, 210, 0.0784313725);
}
.save__panel .save__panel-title .title__options .options__sort .sort__menu .check__icon {
  color: #1a73e8;
  font-weight: bold;
  margin-right: 13px;
  margin-left: 3px;
}
.save__panel .save__panel-title .title__options .options__sort .sort__menu .check__icon-date {
  visibility: visible;
}
.save__panel .save__panel-title .title__options .options__sort .sort__menu .check__icon-alphabet {
  visibility: hidden;
}
.save__panel .save__panel-title .title__options .title__dots {
  position: relative;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 7px;
  color: #5f6368;
  cursor: pointer;
}
.save__panel .save__panel-title .title__options .title__dots:hover {
  background-color: rgba(237, 237, 237, 0.505);
  border-radius: 50%;
}
@media (max-width: 720px) {
  .save__panel .save__panel-title .title__options {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
.save__panel .save__panel-title .title__options .title__dots-menu {
  right: 5px;
  top: 94%;
  cursor: pointer;
  display: block;
  position: absolute;
  font-size: 1rem;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid rgb(221, 221, 221);
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.259);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.259);
  background-color: white;
}
.save__panel .save__panel-title .title__options .title__dots-menu .title__dots-text {
  display: block;
  width: 100%;
  padding: 14px;
  margin: 8px 0;
}
.save__panel .save__panel-title .title__options .title__dots-menu .title__dots-text:hover {
  background-color: rgb(244, 244, 244);
}
.save__panel .save__panel-title .title__search {
  display: none;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.save__panel .save__panel-title .title__search .title__loup-icon {
  position: absolute;
  color: #5f6368;
  font-weight: bold;
  font-size: 1.4rem;
  margin-left: 12px;
}
.save__panel .save__panel-title .title__search .title__input {
  width: 100%;
  padding: 10px 0 10px 50px;
  border-radius: 4px;
  background-color: rgb(244, 244, 244);
  font-size: 1rem;
}
.save__panel .save__panel-title .title__search .title__input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #3c4043;
}
.save__panel .save__panel-title .title__search .title__input::-moz-placeholder {
  font-size: 1rem;
  color: #3c4043;
}
.save__panel .save__panel-title .title__search .title__input:-ms-input-placeholder {
  font-size: 1rem;
  color: #3c4043;
}
.save__panel .save__panel-title .title__search .title__input::-ms-input-placeholder {
  font-size: 1rem;
  color: #3c4043;
}
.save__panel .save__panel-title .title__search .title__input::placeholder {
  font-size: 1rem;
  color: #3c4043;
}
.save__panel .save__panel-title .title__search .x-mark-panel.x-mark__search-input {
  margin: 0;
  top: 0;
  right: 0;
}
.save__panel .save__panel-subtitle {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 6px 6px 30px;
  font-weight: 500;
}
.save__panel .save__panel-subtitle .subtitle__counter {
  font-size: 0.85rem;
}
.save__panel .save__panel-subtitle .subtitle__arrows .subtitle__arrows-icon {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 9px;
  cursor: pointer;
}
.save__panel .save__panel-subtitle .subtitle__arrows .subtitle__arrows-icon:hover {
  border-radius: 50%;
  background-color: rgba(237, 237, 237, 0.505);
}
.save__panel .item__lang-box {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 15px;
  padding: 0 12px;
  height: 26px;
  margin-top: 6px;
}
.save__panel .item__star {
  color: #d56e0c;
}/*# sourceMappingURL=style.css.map */